@import '../../../application/style/common.scss';

// .main-body-container {
//   display: 'flex'
// }

// .main-box-container {
//   padding: 0;
// }

.nav-container {
  .MuiPaper-root {
    overflow: hidden;
  }
}

.aside-drawer-top-bg,
.aside-drawer-bottom-bg {
  position: absolute;
  z-index: 0;
}

.aside-drawer-top-bg {
  @include above-sm {
    top: -235px;
    left: -100px;
  }

  @include bellow-sm {
    top: -245px;
    left: -110px;
  }
}

.aside-drawer-bottom-bg {
  @include above-sm {
    bottom: -50px;
    left: -100px;
  }

  @include bellow-sm {
    bottom: -80px;
    left: -130px;
  }
}

.aside-drawer-left-Menu {
  .content {
    position: relative;
    z-index: 2;
  }

  .aside-drawer-header-logo {
    display: flex;
    align-items: center;
    color: $color-white;
    font-size: 24px;
    text-decoration: none;

    @include above-sm {
      margin: 20px 0 0 20px;
    }

    @include bellow-sm {
      margin: 14px 0 0 14px;
    }

    img {
      width: 34px;
      height: auto;
    }

    small {
      padding-left: 10px;
    }
  }

  span {
    &.menuIcon {
      position: fixed;
      top: 12px;
      left: 330px;
      z-index: 1;
      margin-right: 10px;

      button {
        color: $color-spanishGray;

        &:hover {
          color: $color-black;
        }
      }
    }
  }

  .MuiList-root {
    .MuiListItem-root {
      @include above-sm {
        padding-left: 25px;
      }

      @include bellow-sm {
        padding-left: 14px;
      }

      .MuiListItemIcon-root {
        min-width: 40px;
        color: $color-brightGray;
      }

      .MuiListItemText-root {
        color: $color-brightGray;
      }

      &:hover {
        .MuiListItemIcon-root {
          min-width: 40px;
          color: $color-white;
        }

        .MuiListItemText-root {
          color: $color-secondary;
        }
      }
    }
  }
}

// For desktop view css
aside {
  nav {
    .MuiDrawer-root {
      .MuiDrawer-paper {
        background: $color-primary;
      }
    }
  }
}

.mobile-menu-drawer {
  .MuiPaper-elevation {
    background: $color-primary;
    overflow: hidden;

    @include bellow-sm {
      max-width: 280px;
    }

    .aside-drawer-left-Menu {
      .menuIcon {
        display: none;
      }
    }
  }
}

.collapse-menu {
  aside {
    nav {
      .MuiDrawer-root {
        .MuiDrawer-paper {
          .aside-drawer-left-Menu {
            .aside-drawer-header-logo {
              small {
                display: none;
              }
            }

            span {
              &.menuIcon {
                display: none;
              }
            }

            .MuiList-root {
              .MuiListItem-root {
                .MuiListItemIcon-root {
                  min-width: 55px;
                }

                .MuiListItemText-root {
                  span {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}