article{
  padding: 0 !important;
  .main-container{
    padding-left: 30px;
    padding-right: 30px;
  }  
}

.layout-page{
  .sub-head{
    margin-bottom: 0;
  }
  .sub-head-2{
  }
  .mt-0{
    margin-top: 0;
  }
  .btn-compo{
    button{
      margin: 0 10px 10px 0;
    }
  }
}