// .drawer {
//   position: 'relative';
//   white-space: nowrap;
//   width: 240px;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   background: '#535454';
//   color: '#fff';
// }

// .content {
//   flex-grow: 1;
//   height: '100vh';
//   overflow: 'auto';
// }

// .container {
//   padding-top: 40px;
//   padding-bottom: 40px;
// }
.main {
  display: flex;
}

.main-container {
  width: 100%;
  // padding-left: 240px;

  .header {
    height: 66px;
    background: red;
  }

  .body-container {}
}