@import '../../../application/style/common.scss';

.MuiTextFieldNumber{
  position: relative;
  .MuiTextField-root{
    .MuiInputBase-formControl{
      input {
        padding-right: 50px;
      }
    }
  }
  .right-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    &::after{
      content: '';
      width: 35px;
      height: 1px;
      display: block;
      background: lighten($color-spanishGray, 5%);
      position: absolute;
      right: 0;
      top: 28px;
      z-index: 1;
    }
    button{
      &.MuiButton-root{
        padding: 0;
        height: 28px;
        min-width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-platinum;
        color: $color-graniteGray;
        font-size: 20px;
        box-shadow: none;
        &:hover{
          background: $color-primary;
          color: $color-white;
        }
      }
      &.plus{
        border-radius: 0 3px 0 0;
      }
      &.minus{
        border-radius: 0 0 3px 0;
      }
    }
  }
}