@import '../../../application/style/common.scss';

label{
  &.MuiFormControlLabel-root{
    margin-left: 0;
  }
  .MuiFormControlLabel-label{
    margin-left: 5px !important;
  }
}

.MuiCheckbox-root{
  svg{
    width: 22px;
    height: 22px;
  }
  &:hover{
    color: $color-darkCharcoal;
  }
  &.Mui-disabled{
    color: $color-platinum !important;
  }
  
  &.MuiCheckbox-colorPrimary{
    &.Mui-checked{
      color: $color-cerulean;
    }
  }

  &.MuiCheckbox-colorSecondary{
    &.Mui-checked{
      color: $color-secondary;
    }
  }
}