* {
  outline: none;
}

body {
  font: 400 16px/26px "Rubik", sans-serif;
  color: #000;
}

a {
  color: #000;
}
a:hover, a:focus {
  color: #00C19A;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  color: #000;
  letter-spacing: 0;
}

h1, .h1 {
  font-size: 26px;
  line-height: 36px;
  margin: 20px 0 34px;
}

h2, .h2 {
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 30px;
}

h3, .h3 {
  font-size: 22px;
  line-height: 34px;
  margin: 20px 0 30px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 26px;
  margin: 20px 0 30px;
}

h5, .h5 {
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 28px;
}

h6, .h6 {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0 26px;
}

ul, ol {
  margin-top: 0;
  padding-left: 30px;
}
ul li, ol li {
  margin-bottom: 10px;
}
ul li:last-child, ol li:last-child {
  margin-bottom: 0;
}

.MuiCalendarPicker-root .MuiPickersDay-root {
  font-weight: 400 !important;
  font-size: 14px !important;
}
.MuiCalendarPicker-root .MuiPickersDay-root:not(.Mui-selected) {
  border-color: #014A7E;
}
.MuiCalendarPicker-root .MuiPickersDay-root:hover {
  background: #e5e5e5 !important;
}
.MuiCalendarPicker-root .MuiPickersDay-root.Mui-selected {
  background: #014A7E !important;
}
.MuiCalendarPicker-root .MuiPickersDay-root.Mui-selected:hover {
  background: #015997 !important;
}
.MuiCalendarPicker-root .MuiYearPicker-root .PrivatePickersYear-root button:hover {
  background: #e5e5e5 !important;
}
.MuiCalendarPicker-root .MuiYearPicker-root .PrivatePickersYear-root button.Mui-selected {
  background: #014A7E !important;
}

.css-1ozefeb .MuiTabs-root .MuiTabs-flexContainer button:hover {
  color: #014A7E;
}
.css-1ozefeb .MuiTabs-root .MuiTabs-flexContainer button.Mui-selected {
  color: #014A7E;
}
.css-1ozefeb .MuiTabs-root .MuiTabs-indicator {
  background: #014A7E;
}
.css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww .css-eziifo .css-12ha4i7, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww .css-eziifo .css-7lip4c, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww .css-eziifo .css-a1rc6s {
  background: #014A7E;
}
.css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww .css-eziifo .css-7lip4c .css-118whkv, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww .css-eziifo .css-7lip4c .css-2ujp1m, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww .css-eziifo .css-a1rc6s .css-118whkv, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww .css-eziifo .css-a1rc6s .css-2ujp1m {
  background: #014A7E;
  border-color: #014A7E;
}
.css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww button.MuiButtonBase-root.css-92nr1f-MuiButtonBase-root-MuiIconButton-root, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww button.MuiButtonBase-root.css-1s220mh-MuiButtonBase-root-MuiIconButton-root, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww button.MuiButtonBase-root.css-1t8wyba-MuiButtonBase-root-MuiIconButton-root, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww button.MuiButtonBase-root.css-13go44a-MuiButtonBase-root-MuiIconButton-root {
  background: #014A7E;
}
.css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww button.MuiButtonBase-root.css-92nr1f-MuiButtonBase-root-MuiIconButton-root span, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww button.MuiButtonBase-root.css-1s220mh-MuiButtonBase-root-MuiIconButton-root span, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww button.MuiButtonBase-root.css-1t8wyba-MuiButtonBase-root-MuiIconButton-root span, .css-1ozefeb .css-j7qwjs .css-epd502 .css-fhpqww button.MuiButtonBase-root.css-13go44a-MuiButtonBase-root-MuiIconButton-root span {
  line-height: 18px;
}/*# sourceMappingURL=datePickerUI.css.map */